@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
/* COLORS */
:root {
  /* Primary */
  --scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --white: #fff;
  --header-outline: hsl(217, 16%, 45%);

  /* Background */
  --radial-gradient: radial-gradient(
    ellipse at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

/* RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY CLASSES */
.container {
  max-width: 700px;
}

/* MAIN STYLING */
body {
  color: var(--white);
  font-weight: 600;
  height: 100vh;
  text-transform: uppercase;
  background: var(--radial-gradient);
  background-repeat: no-repeat;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid rgba(255, 255, 255, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score {
  line-height: 0.9;
  background-color: var(--white);
  padding: min(8vw, 1rem) min(8vw, 3rem);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.score__title {
  color: var(--score-text);
  font-size: min(3vw, 1rem);
  letter-spacing: 0.15rem;
  margin-top: 0.3rem;
  font-weight: normal;
}

.score__number {
  color: var(--dark-text);
  font-size: min(10vw, 4rem);
  font-weight: 700;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.gameboard__triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: -2;
}

.circle {
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
  border-radius: 50%;
  position: relative;
  margin: 37px 75px;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.circle::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: -22px;
  left: -25px;
  z-index: -1;
  box-shadow: inset 0px -10px rgba(0, 0, 0, 0.4);
}

.circle--paper::before {
  background: var(--paper-gradient);
}

.circle--scissors::before {
  background: var(--scissors-gradient);
}

.circle--rock::before {
  background: var(--rock-gradient);
}

.circle img {
  height: 5rem;
}

.circle:last-child img {
  height: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 3rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
